<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xuye.androidlearning"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".viewLearning.ViewLearningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".fragmentLearning.FragmentLearningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".componentLearning.LaunchLearingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".componentLearning.LaunchLearingActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".componentLearning.LaunchLearingActivity3"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".componentLearning.LaunchLearingActivity4"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />


        <activity
            android:name=".componentLearning.ServiceLearingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <service android:name=".componentLearning.TestService"/>


        <activity
            android:name=".componentLearning.BroadcastLearingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <receiver
            android:name=".componentLearning.BroadcastLearingActivity$MyStaticReceiver"
            >
            <intent-filter>
                <action android:name="com.xuye.androidlearning.ACTION_STATIC_BROADCAST_LEARNING"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".handleLearning.HandlerLearingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".threadLearning.ThreadLearingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".windowLearning.WindowLearningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>